@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box; /*padding dos elementos seja anexado na sua altura e largura */
}

body{
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased /*melhora a visualização da font no chrome*/
}


input, button, textarea {
    font: 400 18px Roboto, sans-serif;
}

button {
    cursor: pointer;
}

/*Imput de formulário*/
form input{
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

/*Imput de formulário*/
form textarea{
    width: 100%;
    resize: vertical; /*Aumentar apenas na vertircarl*/
    min-height: 140px;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
}

/*Botão todos os tipos*/
.button{
    width: 100%;
    height: 60px;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;/*Força do negrito*/
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.5s;

}

.button:hover{
    filter:  brightness(90%);/*filtro css que diminui a claridade do input*/
}

/*Link no formulario*/
.back-link{
    display: flex;
    align-items:  center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;

}   

/*Icone do link*/
.back-link svg{
    margin-right: 8px;
}

/*Mouse em cima do link*/
.back-link:hover{
    opacity: 0.8; 
}