.logon-container{
    width: 100%;
    max-width: 1120px; /*Largura maxima*/
    height: 100vh;/*Altura toda do corpo*/
    margin: 0 auto;/*Conteudo fique centralizado*/

    display: flex;/*todos os itens da div vão ficar um ao lado do outro*/
    /*flex-direction: column;/*um a baixo do outro*/
    align-items: center;/*alinhar verticalmente ao centro*/
    justify-content: space-between;/*espaçamento no meio entre os 2 elementos*/

}


/*Sessão do Formulário*/
.logon-container section.form{
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

/*Formulario*/
.logon-container section.form form{
    margin-top: 100px;


}
/*Título do Formulário*/
.logon-container section.form form h1{
    font-size: 32px;
    margin-bottom: 32px;

}

